.header-container {
    display: grid;
    grid-template-columns: 98%;
    padding: 2%;
    font-size: 1.25em;
    color: #38262b;
}

.header-background-color {
    background-color: #38262b;
}

.header-color {
    color: #38262b;
}

.nav-container a {
    color: #38262b;
    text-decoration: none;
}
.header-container a {
    color: #38262b;
    text-decoration: none;
}


.home-header-image {
    background-image: url("/images/home-background.png");
    color: #38262b;
    min-height: 300px;
    margin-bottom: 20px;
}

.center {
    text-align: center;
}

.home-title {
    font-size: 3em;
    margin: 0;
    float:none;
}

.home-subtitle {
    font-size: 1em;
    font-style: italic;
    margin-bottom: 30px;

}

.body {
    margin: 0 0 0 0;
    background-color: #f4f1f1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.articles-grid {
    gap: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
.uppercase {
    text-transform: uppercase;
}

.sidebar-grid {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-auto-flow: column;
    gap: 5%;
    margin-left: 5%;
    margin-right: 5%;

}

.categories-grid {
    display: grid;
    grid-template-columns: auto;
    margin-left: 5%;
    margin-right: 5%;
}


h1,
h2,
h3 {
    font-weight: normal;
}

.article-container {
    background-color: #ffffff;
    font-size: 1em;
    padding:10px;
    float: left;
    min-height: 200px;
    max-width: 300px;
    margin: 1%;
}

.heading {
    color: #38262b;
    font-size: 1.25em;
}

.article-container a {
    color: #38262b;
    text-decoration: none;
}

.article-container a:hover {
    color: #38262b;
    text-decoration: underline;
}



.inline-feature-image {
    width: 50%;
    align-items: center;
}

.callout-box {
    background-color: #e1d1d5;
    margin: 0px;
    padding: 20px;
    vertical-align: center;
}

blockquote {

    background-color: #e1d1d5;
    margin: 0px;
    padding: 20px;
    vertical-align: center;
}

.nav-container{
    display: grid;
    font-size: 1.25em;
    color: #38262b;   
    float: none;
    padding: 5px;
    border-top: 1px solid #38262b;
    border-bottom: 1px solid #38262b;
}
.content-container{
    display: grid;
    padding: 20px;
    color: #38262b;   
}