{{ define "main" }}
<div>
{{ range .Pages.GroupByPublishDate "2006" }}
<div style="margin-top: 30px;padding: 2%;">
    <h2>{{ .Key }}</h2>
    <hr />
</div>
<div class="categories-grid">
<div class="articles-grid">
    {{ range .Pages }}
    <div class="article-container" style="min-height: 275px;" >

        {{ if isset .Params "featured_image"}}
        
        <div>
            <div>
            <h3 class="header-color center" style="min-height: 30px;"><a href="{{.RelPermalink}}">{{ .Title}}</a></h3>
        </div>
            {{ $image := resources.Get (strings.TrimLeft "/"  .Params.featured_image )  }}
            
            {{with $image := $image.Fill "300x200"}}
                <img class="tile-image" src="{{.RelPermalink}}"/>
            {{end}}
            
        </div>
        {{ else }}
        <div style="padding: 10px;">
            <h3 class="header-color center"><a href="{{.RelPermalink}}">{{ .Title}}</a></h3>
            <div>{{ .Content | safeHTML | truncate 150}}</div>
        </div>
        {{ end }}
        
    </div>
    {{ end }}
</div>
</div>

{{ end }}
</div>
{{ end }}