{{ define "header"}}  {{ partial "post-header.html" .}}  {{ end}} {{ define "main" }}

<div id="post-content" style="display: grid" >

  <div style="grid-column: 2"  >
        <div class="center"><h1>{{ .Title }}</h1></div>
  </div>
        <div style="grid-column: 2" class="center">

        <span style="font-size: 1.1em; color: rgb(103, 66, 66)">Published: {{ .PublishDate | time.Format ":date_full" }}</span>
    </div>
    <div style="grid-column: 2; font-size: 1.2em; padding: 20px">
      {{.Content}}
    </div>
  </div>
</div>
{{ end }}
