{{ define "header"}} {{ partial "header.html" .}} {{ end}} {{ define "main" }}
<div class="content-container center">
  <div class="center" style="font-size: 1.4em; padding: 20px">
    {{.Content}}
  </div>


<div class="center">
  <h1>Recent Posts</h1>
</div>

<div class="articles-grid center">
  {{ range first 10 (where .Site.RegularPages "Params.featured_image" "ne" nil) }}
  
  {{$image := .Resources.Get (.Params.featured_image) }}
  {{ if $image }}
  {{ $image := $image.Crop "250x250" }}
  {{ end }}
  <div class="article-container" style="height: 250px; width:250px">

    <a href="{{.RelPermalink}}"><div class="center">
        <h3 style="min-height: 50px;">{{.Title}}</h3>
        {{ with $image}}
        <img src="{{ .RelPermalink }}" width="100%">
        {{end}}
    </div></a>
  </div>

  {{end}}
</div>
</div>
{{ end }}
