{{ define "header"}} {{ partial "header.html" .}} {{ end}} {{ define "main" }}
<div class="content-container center">
  <div class="center" style="font-size: 1.4em; padding: 20px">
    {{.Content}}
  </div>


<div class="center">
  <h1>Recent Posts</h1>
</div>

<div class="articles-grid">
  {{ range first 10 (where .Site.RegularPages "Params.featured_image" "ne" nil) }}
  
  {{$image := .Resources.Get (.Params.featured_image) }}

      {{ partial "tile.html" .}}

  {{end}}
</div>
</div>
{{ end }}
