                <div class="article-container">
{{ if isset .Params "featured_image"}}
        
<div>


    {{$image := .Resources.Get .Params.featured_image}}
    
    {{with $image}}
    {{$image := $image.Crop "300x200"}}
    <img class="tile-image" src="{{$image.RelPermalink}}" />
    {{end}}
    <div>
        <h3 class="header-color center" ><a href="{{.RelPermalink}}">{{ .Title}}</a></h3>
    </div>
</div>
{{ else }}
<div style="padding: 10px;">

    <div>{{ .Content | safeHTML | truncate 150}}</div>
    <h3 class="header-color center" ><a href="{{.RelPermalink}}">{{ .Title}}</a></h3>
</div>
{{ end }}
</div>