{{ define "main" }}

<div style="display: grid; grid-template-columns: 5% 70% 25%; ">
    <div style="grid-column: 2;">
        <div style="grid-column: 2;" class="center"><h1>{{ .Title }}</h1></div>
    <div style="grid-column: 2;">{{ .Content }}</div>
        {{range (sort (index .Site.Data .Params.listData) "name")}}
        <div>
        <h3><a href='{{.link}}'>{{.name}}</a> - <i>{{.category}}</i></h3>
        <p>{{.description}}</p>
        </div>
        {{end}}
</div>
<div style="grid-column: 3;background-color:lightgrey;">
    <H1 class="header-color center">Recent Posts</H1>
    {{ range first 15 (where .Site.RegularPages "Section" "in" (slice "posts")) }}
    <h4 class="header-color center"><a href="{{.RelPermalink}}">{{ .Title}}</a></h4>
{{ end }}
</div>

{{ end }}
