:root{
--display-sm: 48em; 
--display-med: 64em;
--display-lg: 85.375em; 
--display-xl: 120em; 
--display-xxl: 160em; 
--color-1: #d1d1d1;
--background-color:  #3e3e3e;
--color-2: #ff6600;
--color-3: #5a5a5a;
--color-4: #c77b49;
}

@media screen and (min-width: 48em) {
    #post-content {grid-template-columns: 10% 80vw 10%;}
}

@media screen and (min-width: 120em) {
    #post-content {grid-template-columns: 20% 60vw 20%;}
}

.published{
    font-size: 1.1em;
    color: var(--color-4);
}

.header-container {
    display: grid;
    grid-template-columns: 98%;
    padding: 2%;
    font-size: 1.25em;
    color: var(--color-1);
}

.header-background-color {
    background-color: var(--background-color);
}

.header-color {
    color: var(--color-1);
}

.nav-container a {
    color:  var(--color-2);
    text-decoration: none;
}
.header-container a {
    color:  var(--color-1);
    text-decoration: none;
}


.home-header-image {
    background-image: url("/images/home-background.png");
    color:  var(--color-1);
    min-height: 300px;
    margin-bottom: 20px;
}
.two-line {
    min-height: 3em;
}

.center {
    text-align: center;
}

.home-title {
    font-size: 3em;
    margin: 0;
    float:none;
}

.home-subtitle {
    font-size: 1em;
    font-style: italic;
    margin-bottom: 30px;

}

.body {
    margin: 0 0 0 0;
    background-color: var(--background-color);
    color: var(--color-1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.articles-grid {
    gap: 1%;
    margin-left: 1%;
    margin-right: 1%;
}
.uppercase {
    text-transform: uppercase;
}

.sidebar-grid {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-auto-flow: column;
    gap: 5%;
    margin-left: 5%;
    margin-right: 5%;

}

.categories-grid {
    display: grid;
    grid-template-columns: auto;
    margin-left: 1%;
    margin-right: 1%;
}


h1,
h2,
h3 {
    font-weight: normal;
}

.article-container {
    background-color: var(--background-color);
    font-size: 1em;

    float: left;
    min-height: 200px;
    max-width: 300px;
    margin: 1%;
}

.heading {
    color:  var(--color-1);
    font-size: 1.25em;
}

.article-container a {
    color:  var(--color-2);
    text-decoration: none;
}

.article-container a:hover {
    color:  var(--color-2);
    text-decoration: underline;
}



.inline-feature-image {
    width: 50%;
    align-items: center;
}

.callout-box {
    background-color: var(--background-color);
    margin: 0px;
    padding: 20px;
    vertical-align: center;
}

blockquote {

    background-color: var(--color-3);
    color: var(--color-2);

    margin: 0px;
    padding: 20px;
    vertical-align: center;
}

.nav-container{
    display: grid;
    font-size: 1.25em;
    color:  var(--color-1);   
    float: none;
    padding: 5px;
    border-top: 1px solid #38262b;
    border-bottom: 1px solid #38262b;
}
.content-container{
    display: grid;
    padding: 20px;
    color:  var(--color-1);
}
a{
    color:  var(--color-2);
    text-decoration: none;
}
