{{ define "main" }} 
{{ $taxonomyObject := .Site.Taxonomies.tags }}
  <div class="center" style="margin: 2%">
    {{range .Site.Taxonomies.tags.Alphabetical}}
    <span><a style="
          text-decoration: none;
          text-transform: uppercase;
          font-size: 0.9em;
          padding: 10px;
        "
        href="{{.Page.RelPermalink}}"
        >{{replace .Name "-" " " }}</a
      ></span
    >
    {{end}}
  </div>

  <div class="center" style="text-transform: uppercase">
    <h1>{{replace .Title "-" " "}}</h1>
  </div>
  <div class="center">{{ .Content }}</div>
  {{$cat :=  .Data.Terms.Alphabetical }}
  <div class="categories-grid">
  {{if $cat}}

        {{range .Data.Terms.Alphabetical}}

        <h2 class="header-color">
        <a
            style="text-decoration: none; text-transform: uppercase"
            href="{{.Page.RelPermalink}}"
            >{{replace .Name "-" " " }}</a
        >
        </h2>
        <hr />
    
        <div class="articles-grid">
                {{ range .Pages.ByPublishDate.Reverse}}
                {{ if isset .Params "featured_image"}}
                <div class="article-container" style="height: 300px; width: 250px">
                  <a href="{{.RelPermalink}}">
                    <div class="center">
                      {{$image := .Resources.Get (.Params.featured_image) }}
                      
                      {{with $image}}
                      {{ $filled := $image.Fill "250x200 center" }}
                        <img src="{{ $image.RelPermalink }}" width="{{$filled.Width}}" height="{{$filled.Height}}" />
                        {{end}}  
                      <h3> {{.LinkTitle}}</h3>

                    </div>
                  </a>
                </div>
                {{ else }}
                <div class="article-container" style="min-height: 300px; width: 250px;" >
                  <div style="padding: 10px;">
                    <div>{{ .Content | safeHTML | truncate 150}}</div>
                    <h3 class="header-color center"><a href="{{.RelPermalink}}">{{ .Title}}</a></h3>
                    
                </div>
              </div>
                  {{ end }}
                {{ end }}

    
        </div>
    {{ end }} 
  
  {{else}}
  <div class="articles-grid">
    {{ range .Pages.ByPublishDate.Reverse}}
    {{ if isset .Params "featured_image"}}
    <div class="article-container" style="height: 300px; width: 250px">
      <a href="{{.RelPermalink}}">
        <div class="center">
          {{$image := .Resources.Get (.Params.featured_image) }}
          
          {{with $image}}
          {{ $filled := $image.Fill "250x200 center" }}
            <img src="{{ $image.RelPermalink }}" width="{{$filled.Width}}" height="{{$filled.Height}}" />
            {{end}}  
          <h3> {{.LinkTitle}}</h3>
</div>
      </a>
    </div>
          {{ else }}
      <div class="article-container" style="height: 300px; width: 250px">
        <h3 class="header-color center"><a href="{{.RelPermalink}}">{{ .Title}}</a></h3>
        <div>{{ .Content | safeHTML | truncate 150}}</div>
    </div>
    {{ end }}
{{end}}
</div>
{{end}}
</div>


{{ end }}
