{{ define "main" }}

{{ range .Pages.GroupByPublishDate "2006" }}
<div style="margin: 50px;">
    <h2 class="center">{{ .Key }}</h2>
    <hr />
</div>
<div class="categories-grid">
    {{ range .Pages}}
    <div class="article-container">

        {{ if isset .Params "featured_image"}}
        <div style="height:75px;">
            <h3 class="header-color center"><a href="{{.RelPermalink}}">{{ .Title}}</a></h3>
        </div>
        <img class="tile-image" src="{{.Params.featured_image | absURL}}" />
        {{ else }}
        <div style="padding: 0px 10px 0px 10px;">
            <h3 class="header-color center"><a href="{{.RelPermalink}}">{{ .Title}}</a></h3>
            <div>{{ .Summary | safeHTML}}</div>
        </div>
        {{ end }}

    </div>
    {{ end }}
</div>
{{ end }}
</div>
{{ end }}