{{ define "main" }}

    <div class="content-container">
        <div class="center"><h1>{{ .Title}}</h1></div>
        <div class="center">{{ .Content }}</div>
        
         <div class="categories-grid">
            {{ range $k,$v := .Site.Data.lists.blogs}}
            <div class="uppercase"><h2>{{$k}}</h2><hr /></div>
<div class="articles-grid">            
{{range $v}}    
<article class="article-container">
    <h3 class="header-color center"><a href="{{.link}}">{{ .name}}</a></h3>
    <p>{{.author}}</p>
    <div style="padding: 10px;">
    <div>{{ .description}}</div>
</article>
              {{end}}  
            </div>
            {{ end }}
        
</div>
</div>

{{ end }}